[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytest = "*"
uuid = "*"
psycopg2 = "*"
sshtunnel = "*"
pexpect = "*"

[requires]
python_version = "3.6"
